{% for block in section.blocks %}

  {% case block.type %}
    {% when "article_title" %}
      <h1>{{ article.title }}</h1>
    {% when "article_thumbnail" %}
      {{ article.image }}
    {% when "article_author" %}
      {% if section.settings.enable_author %}
        <small>
          <span>By -
          </span>
          {{ article.author }}
        </small>
      {% endif %}
    {% when "article_published" %}
      {% if section.settings.enable_date %}
        <p>
          on - {{ article.published_at | date: "%a, %b %d, %Y" }}
        </p>
      {% endif %}

    {% when "content" %}
      <hr/>
      <p>
        {{ article.content }}
      </p>
      <hr/>

  {% endcase %}

{% endfor %}


{% schema %}
  {
    "name": "Template Article",
    "settings": [
      {
        "type": "checkbox",
        "id": "enable_author",
        "default": true,
        "label": "Display Author Name"
      }, {
        "type": "checkbox",
        "id": "enable_date",
        "default": true,
        "label": "Display article published date"
      }
    ],
    "blocks": [
      {
        "type": "article_title",
        "name": "Title",
        "limit": 1
      },
      {
        "type": "article_author",
        "name": "Author",
        "limit": 1
      },
      {
        "type": "article_thumbnail",
        "name": "featured_image",
        "limit": 1
      },
      {
        "type": "article_published",
        "name": "published_date",
        "limit": 1
      }, {
        "type": "content",
        "name": "article_Content",
        "limit": 1
      }
    ]
  }
{% endschema %}