{{ paginate blog.articles by 1 }}


<h1>{{ blog.title }}</h1>

{% for article in blog.articles %}

  <article>
    <a href="{{ article.url }}">
      <h1>{{ article.title }}</h1>
      <p>{{ article.author }}</p>
      <p>{{ article.excerpt }}</p>
    </a>
  </article>

{% endfor %}

{{ paginate | default_pagination }}
{{ endpaginate }}