{% form 'cart'
  , cart %}

  <h2>Cart</h2>

  {% if cart.empty? %}

    <p>Hey Your cart is empty!</p>

  {% else %}

    {% for item in cart.items %}
      <div>
        <img src="{{ item.image |  img_url: '300x300' }}" />
        <p>{{ item.title }}</p>
        <p>{{ item.final_line_price | money }}</p>
        <input name="updates[]" value="{{ item.quantity }}" />
        <a href="{{ item.url_to_remove }}">
          Remove
        </a>
      </div>
    {% endfor %}

    <hr/>

    <p>
      {{ cart.total_price | money }}
    </p>
    <button type="submit" name="update">Update</button>
    <button type="submit" name="checkout">Checkout</button>


  {% endif %}
{% endform %}